.heding-wf-d{
    text-align: center;
}
.city-country-heading{
    text-align: center;
}
.trStyles{
    outline: '1px solid #9f9797'; font: "400 14px/1.4 Roboto,Arial,sans-serif"; padding: "15px";
}